@import "../styles/colors";

.board {
  display: grid;
  grid-auto-flow: column;
  height: 80vh;
  width: 80%;
  @media only screen and (min-width: 769px) {
    width: 500px;
  }
}

.tile {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-color: $secondary-color;
  border-radius: 7px;
}

.tile-cell-container {
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: $secondary-color;
}

.cell-dimentions {
  width: 100%;
  height: auto;
}

.game {
  display: flex;
  align-items: center;
  justify-content: center;
  .game-info {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: $primary-color;
    border-style: solid;
    border-width: 5px;
    border-color: $secondary-color;
    padding: 7px;
    text-align: center;
    color: #fff;
    min-height: 100px;
    border-radius: 7px;
    .game-status {
      height: 60px;
    }
  }
  @media only screen and (min-width: 769px) {
    margin-top: 100px;
  }

  .information {
    display: flex;
    justify-content: space-evenly;
  }

  .cell {
    background: $tertiary-color;
    border: 1px solid #fff;
    float: left;
    height: 100%;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:focus {
      outline: none;
    }
    &:hover {
      background: $base-color;
      color: #000;
    }
  }

  .hidden {
    background: $primary-color;
  }

  .is-flag,
  .is-mine {
    color: #fc543c;
  }
}
